
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (IEnumerable<Domain.EF.Slide>)ViewBag.Slides;
    var listNewProduct = (IEnumerable<Domain.EF.Product>)ViewBag.ListNewProduct;
    var listFeatureProduct = (IEnumerable<Domain.EF.Product>)ViewBag.ListFeatureProduct;
    var i = 1;
}

@section banner {
    <div class="banner">
        <div class="container">
            <script src="~/Assets/Client/js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider">
                    @foreach (var item in slides) {
                        <li>
                            <div class="banner-text">
                                <h3> @item.Name  </h3>
                                <p>
                                    @item.Description
                                </p>
                                <a href="@item.Link"> Xem  </a>
                            </div>

                        </li>
                    }
                </ul>
            </div>

        </div>
    </div>
}

<div class="content">
    <div class="container">
        <div class="content-top">
            <h1> GIỐNG CHÓ MỚI </h1>
            <div class="grid-in">
                @foreach (var item in listNewProduct) {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-md-4 grid-top">
                        <a href="@url" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@item.Image" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>  @item.ProductCategory.Name  </span>
                                </h3>
                            </div>
                        </a>

                        <p><a href="#"> @item.Name </a></p>
                    </div>
                    if (i % 3 == 0) {
                        <div style="height: 15px" class="col-md-12"> </div>
                    }
                    i++;
                }
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="content-top-bottom">
            <h2>Featured Collections</h2>
            <div class="col-md-6 men">
                <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="/Assets/Client/images/t1.jpg" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>Lorem</span>
                        </h3>
                    </div>
                </a>


            </div>
            <div class="col-md-6">
                <div class="col-md1 ">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="/Assets/Client/images/t2.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                <span>Lorem</span>
                            </h3>
                        </div>
                    </a>

                </div>
                <div class="col-md2">
                    <div class="col-md-6 men1">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="/Assets/Client/images/t3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6 men2">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="/Assets/Client/images/t4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
</div>