
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (IEnumerable<Domain.EF.Slide>)ViewBag.Slides;
    var listNewProduct = (IEnumerable<Domain.EF.Product>)ViewBag.ListNewProduct;
    var listFeatureProduct = (IEnumerable<Domain.EF.Product>)ViewBag.ListFeatureProduct;
}

@section slide {
    <div class="header_slide">
        <div class="header_bottom_left">
            @{ Html.RenderAction("ProductCategory", "Product"); }
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        @foreach (var item in slides) {
                            <div id="slide-1" class="slide">
                                <div class="slider-img">
                                    <a href="@item.Link"><img src="@item.Image" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1> CHÓ <br><span> ĐẶC BIỆT </span> </h1>
                                    <h2> Giảm 20%</h2>
                                    <div class="features_list">
                                        <h4> Giống chó đặc biệt được nhập từ châu Âu, số lượng có hạng.</h4>
                                    </div>
                                    <a href="preview.html" class="button"> Mua Ngay </a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}


<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3> Giống Chó Mới </h3>
        </div>
        <div class="see">
            <p><a href="/san-pham"> Xem tất cả </a></p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="section group">
        @foreach (var item in listNewProduct) {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees"> @item.Price </span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="@url"> Thêm vào Giỏ </a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>



    <div class="content_bottom">
        <div class="heading">
            <h3> Chó Mua Nhiều </h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem tất cả </a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in listFeatureProduct) {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="" /></a>
                <h2> @item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees"> @item.Price </span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="@url"> Thêm vào Giỏ </a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>


</div>