@model Domain.EF.Orders

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header { Danh Sách Đơn Hàng }
<h3> Chi Tiết Đơn Hàng </h3>

<div class="col-lg-8">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShipStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShipStatus)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, htmlAttributes: new { @class="btn btn-danger" }) |
        @Html.ActionLink("Quay Lại", "Index", null, htmlAttributes: new { @class="btn btn-default"})
    </p>

</div>