@model Domain.EF.ProductCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header { Danh Mục Sản Phẩm }
<h3> Xóa Danh Mục </h3>

<div class="col-lg-8">
    <h4>Bạn có muốn xóa danh mục này hay không?</h4>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MetaTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetaTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SeoTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SeoTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MetaKeywords)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetaKeywords)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MetaDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetaDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShowOnHome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShowOnHome)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Quay Lại", "Index", null , htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
    </div>

</div>