@model Domain.EF.OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header { Chi Tiết Đơn Hàng }
<h3> Thông Tin Chi Tiết Đơn Hàng </h3>

<div class="col-lg-8">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Orders.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Orders.ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { orderID = Model.OrderID, productID = Model.ProductID }, htmlAttributes: new { @class="btn btn-danger" }) |
        @Html.ActionLink("Quay Lại", "Index", null, htmlAttributes: new { @class="btn btn-default"})
    </p>

</div>